# Base de datos
DB_SERVER=localhost
DB_NAME=BetelCreativa
DB_USER=root
DB_PASSWORD=

# Aplicación
APP_URL=http://localhost/BetelCreativa/
APP_NAME=BETEL CREATIVA
APP_SESSION_NAME=BetEl
APP_TIMEZONE=America/Caracas
APP_ENV=development
